# NODE MODULES
node_modules/


# ENV FILES (IMPORTANT)
.env
.env.*
.env.local
.env.development
.env.production


# LOG FILES
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# BUILD FILES
dist/
build/


# VITE / REACT
frontend/dist
frontend/.vite


# OS FILES
.DS_Store
Thumbs.db


# DOCKER
*.pid
*.seed
*.pid.lock


# IDE FILES
.vscode/
.idea/


# CACHE
.cache/
